unruffled_napier
focused_lalande
agitated_rosalind
nice_nash
intelligent_curie
stoic_swanson
sweet_grothendieck
nifty_noyce
clever_sanderson
silly_swartz
zen_solomon
tender_hoover
wonderful_khayyam
quizzical_germain
eager_lalande
hungry_wright
peaceful_yonath
competent_heyrovsky
nervous_matsumoto
quizzical_leakey
